xsd/PDPA_SIT_(CC-SGR582)(CO&EZY-SGR583).xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- common elements -->
    <xs:element name="eform">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="model">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="instance" maxOccurs="2"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="FID" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="instance">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:group ref="savemodel" id="savemodel"/>
                    <xs:group ref="outputmodel" id="outputmodel"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="id">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="savemodel|outputmodel"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:group name="savemodel">
        <xs:sequence>
            <xs:element name="sigfields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="sigchar"/>
                        <xs:element ref="signum"/>
                        <xs:element ref="sigdate"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <!-- end common elements -->
    <!-- form definition fields -->
    <xs:group name="outputmodel">
        <xs:sequence>
            <xs:element name="prodType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern
                            value="00201|10001|12301|05401|05601|07601|57101|28001|28101|16001|11401|06001|16901|28301|28401|28501"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="1|2|3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-fullName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-embName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="26"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-identityType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="01|04"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-identityNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="5"/>
                        <xs:maxLength value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-dateOfBirth">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="8"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-sex">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-ethnicGroup">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-maritalSt">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1|2|3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-noDep">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-education">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="1|2|3|4|5|6|7|8"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="per-mobph">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-homeAddrs">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-homeAddrs1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-homeAddrs2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-homeAddrs3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-zipcode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-timeaddreYrs">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-timeaddreMons">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1|2|3|4|5|6|7|8|9|10|11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-accom">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1|2|3|4|5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-selfEmp">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-company">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-position">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-serviceYears">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-serviceMonths">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1|2|3|4|5||6|7|8|9|10|11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-incomeAnnual">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-officeAddress">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-officeAddress1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-officeAddress2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-officeAddress3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-officeZipCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-billAddress">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-homePhone">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-officePhone">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-mobilePhone">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="70"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-refRel">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="F|M|H|W|B|S|A|U|C|D|O"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Sup Info -->
            <xs:element name="sup-title">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="1|2|3"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-fullName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-embName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="19"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-identityType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="01|04"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-identityNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-dateOfBirth">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="8"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-sex">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="0|1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-relationship">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="F|M|H|W|B|S|A|U|C|D|O"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-homeAdd">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-homeAdd1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-homeAdd2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-homeAdd3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-ZipCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sup-hasSupCard">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="1"/>
                        <xs:pattern value=""/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- End Sup -->
            <xs:element name="agencyNo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q4">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q5">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q6">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q7">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q8">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q9">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_pdpa_q10">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="promoCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="4"/>
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="acqCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="subChanCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="4"/>
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sourcingId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="7"/>
                        <xs:maxLength value="11"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="staffId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attchments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attachment" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!-- add back missing fields -->
            <xs:element name="per-previousPassportNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-overseaAddress">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-overseaContactNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="emp-occupation">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-refName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="70"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="con-refContactNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Loan Info -->
            <xs:element name="loan-amountRequired">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-tenure">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-depositBankAcc">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-issuingBank">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-issuingBankBranchCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-accHolderName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="loan-accHolderNricPassport">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="staffContactNo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="referralId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="closingId">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="prodType2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="prodType3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="prodType4">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="prodType5">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType3">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType4">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType5">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType6">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType7">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType8">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType9">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType10">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType11">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType12">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType13">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType14">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType15">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clubType16">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="inscode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="existingCust">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="res-typeOfResidence">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filenetProduct">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filenetSubProduct">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filenetCity">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filenetCountry">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="form2_name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="filenetIdNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <!-- end form definition fields -->
    <xs:element name="sigchar">
        <!-- max 10 fields sigchar 1 - 10 -->
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sigchar1" id="per-fullName" type="xs:string"/>
                <xs:element name="sigchar2" id="per-identityNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
        <!-- end max 10 fields sigchar 1 - 10 -->
    </xs:element>
    <xs:element name="signum">
        <!-- max 6 fields signum 11 - 16 -->
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
        <!-- end max 6 fields signum 11 - 16 -->
    </xs:element>
    <xs:element name="sigdate">
        <!-- max 4 fields signum 17 - 20 -->
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
        <!-- end max 4 fields signum 17 - 20 -->
    </xs:element>
    <xs:attributeGroup name="shortnames">
        <xs:attribute name="prodType" fixed="103 PROD TYPES"/>
        <xs:attribute name="per-title" fixed="103 TITLE"/>
        <xs:attribute name="per-fullName" fixed="103 FULL NAME"/>
        <xs:attribute name="per-embName" fixed="104 EMB NAME"/>
        <xs:attribute name="per-identityType" fixed="102 IDENTITY TYPE"/>
        <xs:attribute name="per-identityNumber" fixed="102 IDENTITY NUMBER"/>
        <xs:attribute name="per-dateOfBirth" fixed="102 DATE OF BIRTH"/>
        <xs:attribute name="per-sex" fixed="103 SEX"/>
        <xs:attribute name="per-ethnicGroup" fixed="103 ETHNIC GROUP"/>
        <xs:attribute name="per-maritalSt" fixed="103 MARTIAL ST"/>
        <xs:attribute name="per-noDep" fixed="103 NO. DEP"/>
        <xs:attribute name="per-education" fixed="103 EDUCATION"/>
        <xs:attribute name="per-mobph" fixed="104 MOBILE PHONE/PAGER"/>
        <xs:attribute name="res-homeAddrs" fixed="103 HOME ADDRS 1"/>
        <xs:attribute name="res-homeAddrs1" fixed="103 HOME ADDRS 2"/>
        <xs:attribute name="res-homeAddrs2" fixed="103 HOME ADDRS 3"/>
        <xs:attribute name="res-homeAddrs3" fixed="103 HOME ADDRS 4"/>
        <xs:attribute name="res-zipcode" fixed="103 ZIPCODE"/>
        <xs:attribute name="res-timeaddreYrs" fixed="103 TIME AT ADDRS:YRS"/>
        <xs:attribute name="res-timeaddreMons" fixed="103 TIME AT ADDRS:MONS"/>
        <xs:attribute name="res-accom" fixed="103 ACCOM"/>
        <xs:attribute name="emp-selfEmp" fixed="103 SELF EMP"/>
        <xs:attribute name="emp-company" fixed="103 COMPANY"/>
        <xs:attribute name="emp-position" fixed="103 POSITION"/>
        <xs:attribute name="emp-serviceYears" fixed="103 SERVICE:YRS"/>
        <xs:attribute name="emp-serviceMonths" fixed="103 SERVICE:MONS"/>
        <xs:attribute name="emp-incomeAnnual" fixed="103 INC:ANN"/>
        <xs:attribute name="emp-officeAddress" fixed="104 OFFICE ADDRESS 1"/>
        <xs:attribute name="emp-officeAddress1" fixed="104 OFFICE ADDRESS 2"/>
        <xs:attribute name="emp-officeAddress2" fixed="104 OFFICE ADDRESS 3"/>
        <xs:attribute name="emp-officeAddress3" fixed="104 OFFICE ADDRESS 4"/>
        <xs:attribute name="emp-officeZipCode" fixed="104 ZIPCODE"/>
        <xs:attribute name="con-billAddress" fixed="103 BILL ADDRS"/>
        <xs:attribute name="con-homePhone" fixed="103 HOME PHONE"/>
        <xs:attribute name="con-officePhone" fixed="103 OFFICE PHONE"/>
        <xs:attribute name="con-mobilePhone" fixed="104 MOBILE PHONE/PAGER"/>
        <xs:attribute name="con-email" fixed="103 EMAIL"/>
        <xs:attribute name="con-refRel" fixed="103 REF REL"/>
        <xs:attribute name="sup-title" fixed="105 TITLE"/>
        <xs:attribute name="sup-fullName" fixed="105 FULL NAME"/>
        <xs:attribute name="sup-embName" fixed="105 EMB NAME"/>
        <xs:attribute name="sup-identityType" fixed="105 IDENTITY TYPE"/>
        <xs:attribute name="sup-identityNumber" fixed="105 IDENTITIY NUMBER"/>
        <xs:attribute name="sup-dateOfBirth" fixed="105 DATE OF BIRTH"/>
        <xs:attribute name="sup-sex" fixed="105 SEX"/>
        <xs:attribute name="sup-relationship" fixed="105 RELATIONSHIP"/>
        <xs:attribute name="sup-homeAdd" fixed="105 HOME ADDRESS 1"/>
        <xs:attribute name="sup-homeAdd1" fixed="105 HOME ADDRESS 2"/>
        <xs:attribute name="sup-homeAdd2" fixed="105 HOME ADDRESS 3"/>
        <xs:attribute name="sup-homeAdd3" fixed="105 HOME ADDRESS 4"/>
        <xs:attribute name="sup-ZipCode" fixed="105 ZIPCODE"/>
        <xs:attribute name="agencyNo" fixed="106 AGENCY CODE (CASHONE APPLIED LOAN AMOUNT)"/>
        <xs:attribute name="sup-hasSupCard" fixed="104 NO OF SUPP C/H"/>
        <xs:attribute name="cc_insurance" fixed="104 Credit Card Insurance"/>
        <xs:attribute name="promoCode" fixed="103 PROMO"/>
        <xs:attribute name="acqCode" fixed="103 ACQ CODE"/>
        <xs:attribute name="subChanCode" fixed="103 SUB CHAN"/>
        <xs:attribute name="sourcingId" fixed="103 STAFF ID"/>
        <xs:attribute name="staffId" fixed="staffId"/>
        <xs:attribute name="per-previousPassportNumber" fixed="Previous Passport Number"/>
        <xs:attribute name="res-overseaAddress" fixed="Oversea Adress"/>
        <xs:attribute name="res-overseaContactNumber" fixed="Oversea Contact Number"/>
        <xs:attribute name="emp-occupation" fixed="Occupation"/>
        <xs:attribute name="con-refName" fixed="Name of Relative"/>
        <xs:attribute name="con-refContactNumber" fixed="103 Relative Contact Number"/>
        <xs:attribute name="loan-amountRequired" fixed="Amount Required"/>
        <xs:attribute name="loan-tenure" fixed="Tenure"/>
        <xs:attribute name="loan-depositBankAcc" fixed="Deposit Bank Acc"/>
        <xs:attribute name="loan-issuingBank" fixed="Issuing Bank"/>
        <xs:attribute name="loan-issuingBankBranchCode" fixed="Issuing Bank Branch Code"/>
        <xs:attribute name="loan-accHolderName" fixed="Acc Holder Name"/>
        <xs:attribute name="loan-accHolderNricPassport" fixed="Acc Holder Nric Passport"/>
        <xs:attribute name="loan-staffContactNo" fixed="Staff Contact No."/>
        <xs:attribute name="referralId" fixed="Referral ID."/>
        <xs:attribute name="closingId" fixed="Closing ID."/>
        <xs:attribute name="prodType2" fixed="Product Type-2"/>
        <xs:attribute name="prodType3" fixed="Product Type-3"/>
        <xs:attribute name="prodType4" fixed="Product Type-4"/>
        <xs:attribute name="prodType5" fixed="Product Type-5"/>
        <xs:attribute name="clubType1" fixed="Club Type-1"/>
        <xs:attribute name="clubType2" fixed="Club Type-2"/>
        <xs:attribute name="clubType3" fixed="Club Type-3"/>
        <xs:attribute name="clubType4" fixed="Club Type-4"/>
        <xs:attribute name="clubType5" fixed="Club Type-5"/>
        <xs:attribute name="clubType6" fixed="Club Type-6"/>
        <xs:attribute name="clubType7" fixed="Club Type-7"/>
        <xs:attribute name="clubType8" fixed="Club Type-8"/>
        <xs:attribute name="clubType9" fixed="Club Type-9"/>
        <xs:attribute name="clubType10" fixed="Club Type-10"/>
        <xs:attribute name="clubType11" fixed="Club Type-11"/>
        <xs:attribute name="clubType12" fixed="Club Type-12"/>
        <xs:attribute name="clubType13" fixed="Club Type-13"/>
        <xs:attribute name="clubType14" fixed="Club Type-14"/>
        <xs:attribute name="clubType15" fixed="Club Type-15"/>
        <xs:attribute name="clubType16" fixed="Club Type-16"/>
        <xs:attribute name="existingCust" fixed="Are you an existing SCB PC/PL?"/>
        <xs:attribute name="res-typeOfResidence" fixed="Type of Residence"/>
        <xs:attribute name="form2_pdpa_q1" fixed="Answer to PDPA Question 1"/>
        <xs:attribute name="form2_pdpa_q2" fixed="Answer to PDPA Question 2"/>
        <xs:attribute name="form2_pdpa_q3" fixed="Answer to PDPA Question 3"/>
        <xs:attribute name="form2_pdpa_q4" fixed="Answer to PDPA Question 4"/>
        <xs:attribute name="form2_pdpa_q5" fixed="Answer to PDPA Question 5"/>
        <xs:attribute name="form2_pdpa_q6" fixed="Answer to PDPA Question 6"/>
        <xs:attribute name="form2_pdpa_q7" fixed="Answer to PDPA Question 7"/>
        <xs:attribute name="form2_pdpa_q8" fixed="Answer to PDPA Question 8"/>
        <xs:attribute name="form2_pdpa_q9" fixed="Answer to PDPA Question 9"/>
        <xs:attribute name="form2_pdpa_q10" fixed="Answer to PDPA Question 10"/>
        <xs:attribute name="filenetProduct" fixed="Filenet Product"/>
        <xs:attribute name="filenetSubProduct" fixed="Filenet Sub-Product"/>
        <xs:attribute name="filenetCity" fixed="Filenet City"/>
        <xs:attribute name="filenetCountry" fixed="Filenet Country"/>
        <xs:attribute name="form2_name" fixed="Filenet User name"/>
        <xs:attribute name="filenetIdNumber" fixed="Filenet IC number"/>
    </xs:attributeGroup>
</xs:schema>
